.container-fluid{
    padding:0 !important;
}

.enlace{
    font-family: 'Commissioner', sans-serif;
    font-size: 20px;
}
span{
    font-family: 'Commissioner', sans-serif;
}

@media (max-width: 991px) {
    .imagen {
      display: none;
    }
  }