.container-fluid{
    padding:0 !important;
}

.enlace{
    font-family: 'Commissioner', sans-serif;
    font-size: 20px;
}
span, .letra{
    font-family: 'Commissioner', sans-serif;
}

.tarea{
    font-family: 'Raleway', sans-serif;
}

#botonSubir{
    width: 55px;
    height: 55px;
    background: #46a2fe;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 50%;
    font-size: 20px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    border:4px solid transparent;
    transition: all 300ms ease;
    transform: scale(0);
}
#botonEliminar{
    width: 55px;
    height: 55px;
    background: red;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 50%;
    font-size: 20px;
    position: fixed;
    bottom: 20px;
    left: 20px;
    cursor: pointer;
    border:4px solid transparent;
    transition: all 300ms ease;
    transform: scale(0);
}

#botonFEliminar{
    width: 55px;
    height: 55px;
    background: red;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 50%;
    font-size: 20px;
    position: fixed;
    bottom: 20px;
    left: 200px;
    cursor: pointer;
    border:4px solid transparent;
    transition: all 300ms ease;
    transform: scale(1);
    position: fixed;
}

#botonSubir:hover{
    transform: scale(1.1);
    border-color: rgba(0, 0, 0, 0.1);
}
#botonEliminar:hover{
    transform: scale(1.1);
    border-color: rgba(0, 0, 0, 0.1);
}

@media (max-width: 991px) {
    .imagen {
      display: none;
    }
    #botonEliminar{
        display: none;
    }
}